services:
  - type: web
    name: barbershop
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn barbershop.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: DEBUG
        value: 0
      - key: DJANGO_ALLOWED_HOSTS
        value: .onrender.com
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: barbershop-db
          property: connectionString

databases:
  - name: barbershop-db
    databaseName: barbershop
    user: barbershop
    plan: free 